.test {
    height: 30vh;
    background-color: aqua;
}

.accueilWrapper h2 {
    text-transform: uppercase;
    margin: 25px 0;
}

.accueilWrapper {
    width: 85%;
    margin: auto;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
}

.btn-outline-primary {

}